body{
	text-align: center;
	font-family: "Arial";
	color : blue;
}
aside{
	background: red;
}

footer{
	background-color: green;
	color: #FFF;
	padding: 20px;

}

footer .redes-sociales ul {
  list-style-type: none;
}
footer .redes-sociales ul li {
  display: inline;
  margin-right: 30px;
}